In [1]:
import pandas as pd
import numpy as np

In [2]:
file = 'training_sample.csv'

In [3]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
df.head()

,UserID,basket_icon_click,basket_add_list,basket_add_detail,sort_by,image_picker,account_page_click,promo_banner_click,detail_wishlist_add,list_size_dropdown,...,saw_sizecharts,saw_delivery,saw_account_upgrade,saw_homepage,device_mobile,device_computer,device_tablet,returning_user,loc_uk,ordered
0,a720-6b732349-a720-4862-bd21-644732,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,a0c0-6b73247c-a0c0-4bd9-8baa-797356,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,86a8-6b735c67-86a8-407b-ba24-333055,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0
3,6a3d-6b736346-6a3d-4085-934b-396834,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0
4,b74a-6b737717-b74a-45c3-8c6a-421140,0,1,0,1,0,0,0,0,1,...,0,0,0,1,0,0,1,0,1,1

In [5]:
df.count()

UserID                     455401
basket_icon_click          455401
basket_add_list            455401
basket_add_detail          455401
sort_by                    455401
image_picker               455401
account_page_click         455401
promo_banner_click         455401
detail_wishlist_add        455401
list_size_dropdown         455401
closed_minibasket_click    455401
checked_delivery_detail    455401
checked_returns_detail     455401
sign_in                    455401
saw_checkout               455401
saw_sizecharts             455401
saw_delivery               455401
saw_account_upgrade        455401
saw_homepage               455401
device_mobile              455401
device_computer            455401
device_tablet              455401
returning_user             455401
loc_uk                     455401
ordered                    455401
dtype: int64

In [6]:
# Drop all rows with missing information
df = df.dropna(how='any')

In [7]:
# Verify dropped rows
df.count()

UserID                     455401
basket_icon_click          455401
basket_add_list            455401
basket_add_detail          455401
sort_by                    455401
image_picker               455401
account_page_click         455401
promo_banner_click         455401
detail_wishlist_add        455401
list_size_dropdown         455401
closed_minibasket_click    455401
checked_delivery_detail    455401
checked_returns_detail     455401
sign_in                    455401
saw_checkout               455401
saw_sizecharts             455401
saw_delivery               455401
saw_account_upgrade        455401
saw_homepage               455401
device_mobile              455401
device_computer            455401
device_tablet              455401
returning_user             455401
loc_uk                     455401
ordered                    455401
dtype: int64

In [8]:
# The Amount column is the wrong data type. It should be numeric.
df.dtypes

UserID                     object
basket_icon_click           int64
basket_add_list             int64
basket_add_detail           int64
sort_by                     int64
image_picker                int64
account_page_click          int64
promo_banner_click          int64
detail_wishlist_add         int64
list_size_dropdown          int64
closed_minibasket_click     int64
checked_delivery_detail     int64
checked_returns_detail      int64
sign_in                     int64
saw_checkout                int64
saw_sizecharts              int64
saw_delivery                int64
saw_account_upgrade         int64
saw_homepage                int64
device_mobile               int64
device_computer             int64
device_tablet               int64
returning_user              int64
loc_uk                      int64
ordered                     int64
dtype: object

In [9]:
compare_df = df[['UserID','returning_user','device_mobile','device_computer','device_tablet','ordered']]
compare_df

,UserID,returning_user,device_mobile,device_computer,device_tablet,ordered
0,a720-6b732349-a720-4862-bd21-644732,0,1,0,0,0
1,a0c0-6b73247c-a0c0-4bd9-8baa-797356,0,1,0,0,0
2,86a8-6b735c67-86a8-407b-ba24-333055,1,1,0,0,0
3,6a3d-6b736346-6a3d-4085-934b-396834,1,1,0,0,0
4,b74a-6b737717-b74a-45c3-8c6a-421140,0,0,0,1,1
...,...,...,...,...,...,...
455396,5624-06d73a79-5624-450a-acdd-367154,0,1,0,0,0
455397,42a3-06d74c74-42a3-4dc9-b874-727916,0,1,0,0,0
455398,104a-06d7a875-104a-428d-b2b8-358312,0,1,0,0,0
455399,d9b1-06d7a928-d9b1-40d9-a2d6-32624,0,1,0,0,0
455400,7aav-06d7bd20-7aav-411b-bc9c-325055,0,1,0,0,0

In [10]:
conditions = [
#     all
    ((compare_df['device_mobile'] == 1) & (compare_df['device_computer'] == 1) & (compare_df['device_tablet'] == 1)),
    
#     mobile only; tablet only; computer only
    ((compare_df['device_mobile'] == 1) & (compare_df['device_computer'] == 0) & (compare_df['device_tablet'] == 0)),
    ((compare_df['device_mobile'] == 0) & (compare_df['device_computer'] == 0) & (compare_df['device_tablet'] == 1)),
    ((compare_df['device_mobile'] == 0) & (compare_df['device_computer'] == 1) & (compare_df['device_tablet'] == 0)),
    
#     mobile & computer;  mobile & tablet; computer & tablet;
    ((compare_df['device_mobile'] == 1) & (compare_df['device_computer'] == 1) & (compare_df['device_tablet'] == 0)),
    ((compare_df['device_mobile'] == 1) & (compare_df['device_computer'] == 0) & (compare_df['device_tablet'] == 1)),
    ((compare_df['device_mobile'] == 0) & (compare_df['device_computer'] == 1) & (compare_df['device_tablet'] == 1))
    ]

In [11]:
values = ['All', 'Mobile Only', 'Tablet Only', 'Computer Only','Mobile & Computer','Mobile & Tablet','Computer & Tablet']

In [12]:
compare_df['Device Type'] = np.select(conditions,values)

C:\Users\debby\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
compare_df['returning_user'] = df['returning_user'].replace([0,1],['New','Returning'])

C:\Users\debby\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
compare_df.rename(columns={'returning_user':'Customer Type'}, inplace=True)

C:\Users\debby\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [15]:
# compare_df['ordered'] = df['ordered'].replace([0,1],['No','Yes'])

In [16]:
compare_df.head()

,UserID,Customer Type,device_mobile,device_computer,device_tablet,ordered,Device Type
0,a720-6b732349-a720-4862-bd21-644732,New,1,0,0,0,Mobile Only
1,a0c0-6b73247c-a0c0-4bd9-8baa-797356,New,1,0,0,0,Mobile Only
2,86a8-6b735c67-86a8-407b-ba24-333055,Returning,1,0,0,0,Mobile Only
3,6a3d-6b736346-6a3d-4085-934b-396834,Returning,1,0,0,0,Mobile Only
4,b74a-6b737717-b74a-45c3-8c6a-421140,New,0,0,1,1,Tablet Only

In [17]:
device_type_df = compare_df[['Customer Type','Device Type','ordered']]
device_type_df.head()

  Customer Type  Device Type  ordered
0           New  Mobile Only        0
1           New  Mobile Only        0
2     Returning  Mobile Only        0
3     Returning  Mobile Only        0
4           New  Tablet Only        1

In [18]:
# grp_device_type_df = device_type_df.groupby(['Customer Type','Device Type','ordered']).count()
# grp_device_type_df

In [19]:
device_type_df.to_csv(r'device_type_data.csv', index = False)

In [20]:
filtered_df = df[(df['ordered'] == 1)]
filtered_df

,UserID,basket_icon_click,basket_add_list,basket_add_detail,sort_by,image_picker,account_page_click,promo_banner_click,detail_wishlist_add,list_size_dropdown,...,saw_sizecharts,saw_delivery,saw_account_upgrade,saw_homepage,device_mobile,device_computer,device_tablet,returning_user,loc_uk,ordered
4,b74a-6b737717-b74a-45c3-8c6a-421140,0,1,0,1,0,0,0,0,1,...,0,0,0,1,0,0,1,0,1,1
47,6797-6b7bc767-6797-465a-b562-175804,1,1,1,1,0,0,0,0,1,...,0,0,0,1,0,1,0,0,1,1
56,c773-6b7d6430-c773-4db1-90d0-503545,1,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,1,0,1,1
62,aa34-6b760410-aa34-4ba5-b260-433850,1,1,0,0,0,0,0,0,1,...,0,0,0,1,0,1,0,1,1,1
66,47b6-6b76a765-47b6-4b64-8743-628618,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455289,a01e-0avd69a6-a01e-4815-acb6-991417,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
455307,6070-06d006d2-6070-41c6-ad54-391208,1,1,1,0,0,0,0,0,1,...,0,0,0,1,1,0,0,1,1,1
455320,6903-06d168d8-6903-4363-95b7-698282,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,1,1
455360,0b47-06d8d2d4-0b47-43av-974c-667079,1,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,1
455379,5306-06db5769-5306-4597-99c3-107179,1,1,1,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1

In [21]:
filtered_df.to_csv(r'training_sample_ordered_only.csv', index = False)